<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LatestVersion</key>
	<string>0.4.1</string>
	<key>PageURL</key>
	<string>http://code.google.com/p/cocoaslideshow/</string>
	<key>DownloadURL</key>
	<string>http://cocoaslideshow.googlecode.com/files/CocoaSlideShow_0_4_1.app.zip</string>
</dict>
</plist>
